{% extends "base.html" %} {% block title %} Add Recipe {% endblock %} {% block body %}

<div class="login">
    {% if error %}
    <p><strong>Error:</strong> {{ error }} {% endif %}
        <form action="{{url_for('add_recipe')}}" method="post">
            <div class="inputwrapper">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title">
            </div>

            <div class="inputwrapper">
                {% if categories is defined and categories|length > 0 %}
                <label>Category</label>
                <div class="select">
                    <select name="category">
                        <option selected>select category</option>
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.title}}</option>
                        {% endfor %}
                        <option onclick="location.href='/category'">Add Category</option>
                    </select>
                </div>
                {% else %}
                <label>Category</label>
                <a href="{{url_for('categories')}}">Add Category</a>
                <div class="select">
                    <select name="category" hidden>
                        <option selected>select category</option>
                        {% for category in categories %}
                            <option value="{{category.title}}">{{category.title}}</option>
                        {% endfor %}
                        <option onclick="location.href='/category'">Add Category</option>
                    </select>
                </div>
                {% endif %}

            </div>

            <div class="inputwrapper">
                <label>Ingredients</label>
                <input type="text" name="ingredients" placeholder="Ingredients">
            </div>
            <div class="inputwrapper">
                <label>Go harm</label>
                <textarea name="process" rows="5"></textarea>
            </div>
            <div class="submit">
                <button type="submit" class="btn-login">Submit</button>
            </div>
        </form>
</div>
{% endblock %}