{% extends "base.html" %} {% block title %} Add Category {% endblock %} {% block body %}

<div class="login">
    {% if error %}
    <p><strong>Error:</strong> {{ error }} {% endif %} {% if success %}
        <p><strong>Success:</strong> {{ success }} {% endif %}

            <form action="{{url_for('category')}}" method="post">
                <div class="inputwrapper">
                    <label>Category Name</label>
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="submit">
                    <button type="submit" class="btn-login">Submit</button>

                </div>
            </form>

            <div class="cats">
                {% if categories %} {% for item in categories %}
                <li>
                    <h4>{{ item.title }}</h4> <i class="fa fa-trash-o" onclick="location.href='/delete_category/{{categories.index(item)}}'" aria-hidden="true"></i></li>
                {% endfor%} {% endif %}
            </div>
</div>
{% endblock %}