<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> {% block title %} {% endblock %}</title>
</head>

<body>

    <header>
        <div class="menu">
            {% if session.show %} {% if session.logged_in %}
            <a href="{{url_for('recipe')}}">ADD RECIPE</a> {% endif %}{% endif %}
        </div>
        <div class="logo">chumvi</div>
        <div class="signup">
            {% if session.show %} {% if not session.logged_in %}
            <a href="{{url_for('login')}}">Login/Signup</a> {% else %}
            <a href="{{url_for('login')}}">Logout</a> {% endif %} {% else %} {% endif %}
        </div>

    </header>
    {% block body %} {% endblock %}

    <footer></footer>

    <script src="/js/vel.js"></script>
</body>

</html>