{% extends "base.html" %} {% block title %} Login {% endblock %} {% block body %}

<div class="login">
    {% if message %}
    <p><strong>Error:</strong> {{ message }} {% endif %}
        <form method="post" action="{{url_for('login')}}">
            <div class="inputwrapper">
                <label>Email:</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="inputwrapper">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="submit">
                <button type="submit" class="btn-login">Login</button>
                <a href="{{url_for('register')}}">Or Register..?</a>
            </div>
        </form>
</div>
{% endblock %}