{% extends "base.html" %} {% block title %} Signup {% endblock %} {% block body %}

<div class="login">
    {% if error %}
    <p><strong>Error:</strong> {{ error }} {% endif %}
        <form action="/register" method="post">
            <div class="inputwrapper">
                <input type="text" name="fname" placeholder="First Name">
            </div>

            <div class="inputwrapper">
                <input type="text" name="lname" placeholder="Last Name">
            </div>
            <div class="inputwrapper">
                <input type="email" name="email" placeholder="Enter Email">
            </div>
            <div class="inputwrapper">
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <div class="submit">
                <button type="submit" class="btn-login">Register</button>
                <a href="/login">Or Login..?</a>
            </div>
        </form>
</div>
{% endblock %}