{% extends "base.html" %} {% block title %} Signup {% endblock %} {% block body %}

<div class="login">
    {% if error %}
    <p><strong>Error:</strong> {{ error }} {% endif %}
        <form action="{{url_for('register')}}" method="post">
            <div class="inputwrapper">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Your Name">
            </div>
            <div class="inputwrapper">
                <label for="name">Email</label>
                <input type="email" name="email" placeholder="Enter Email">
            </div>
            <div class="inputwrapper">
                <label for="name">Password</label>
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <div class="submit">
                <button type="submit" class="btn-login">Register</button>
                <a href="/login">Or Login..?</a>
            </div>
        </form>
</div>
{% endblock %}