{% extends "base.html" %} {% block title %} My Chumvi {% endblock %} {% block body %} {% block loginbutton %} {% endblock %}
<div class="intro">
    <h2>{{recipe.title}}</h2>
</div>
<div class="container">
    <div class="recipe">
        <div class="image">
            <img src="/images/images.jpg" alt="tule recipes">
        </div>
        <div class="info">
            <div class="title">
                <span>INGREDIENTS:</span> {{recipe.ingredients}}</div>
            <div class="desc">
                <h2>Process: </h2>
                <p>{{recipe.process}}</p>
            </div>
            <div class="meta">
                <h3>Sam Achola</h3>
            </div>

        </div>
    </div>

</div>
{% endblock %}